.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  height: 100%;
  padding: 2rem;
}

.main button {
  width: 100%;
  font-weight: 400;
  margin: 1.5rem 0;
}

.loginBox {
  padding: 1rem 3rem;
  background-color: #ffffff;
  margin: 3rem;
  width: 40%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.171);
}

.labelContainer {
  display: flex;
  flex-direction: column;
}

.orBreak {
  display: flex;
  align-items: center;
}

.orBreak span {
  padding: 0 2rem;
  text-transform: lowercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.orBreak::before,
.orBreak::after {
  content: '';
  flex: 1;
  background-color: black;
  height: 1px;
}

.lightButton {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.password {
  /* font-weight: 600; */
  /* font-size: 2rem; */
  /* padding: 0; */
}
