.ingredient {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.inputList {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.ingredient input {
  border-radius: 0;
  border: 1px solid rgb(190, 190, 190);

  text-align: center;
}

.ingredient input:nth-child(3) {
  width: 6rem;
}

.close {
  color: rgb(190, 190, 190);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  color: rgb(255, 105, 105);
}

.brand {
  grid-area: brand;
}

.ing {
  grid-area: ing;
}

.quantity {
  grid-area: quantity;
}

.unit {
  grid-area: unit;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .inputList {
    display: grid;
    grid-template-areas:
      'ing quantity'
      'brand unit';
    grid-template-columns: 5fr 1fr;
    margin-bottom: 0.5rem;
  }
  .ingredient input:nth-child(3) {
    width: 100%;
  }
}
