.ingredient {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: stretch;
  width: 100%;
  /* margin-bottom: 5px; */
}

.inputList {
  display: flex;
  /* flex-direction: row-reverse; */
  gap: 0.5rem;
  width: 100%;
}

.ingredient input {
  /* background-color: aquamarine; */
  border-radius: 0;
  border: 1px solid rgb(190, 190, 190);
  /* border-right: none; */

  text-align: center;
}

.ingredient input:first-child {
  /* background-color: aquamarine; */
  /* border-radius: 5px 0 0 5px; */
}

.ingredient input:nth-child(3) {
  width: 6rem;
}

.close {
  color: rgb(190, 190, 190);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close:hover {
  color: rgb(255, 105, 105);
}
