.main {
  width: 100%;

  background-color: #0f2c3d;
  border: solid rgb(190, 190, 190) 1px;
  /* color: grey; */
  font-size: 1.8rem;
  padding: 0.75rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  min-width: 10rem;
  color: white;
  /* justify-content: ; */
  /* position: relative; */
}

.main:hover {
  background-color: #004159;
}

.icon {
  /* position: absolute; */
  /* left: 0; */
  font-size: 1.5rem;
  /* margin: 0 1rem; */
  width: 2rem;
}
