.options {
  display: flex;
  padding: 1rem;
  background-color: #004159;
  border-bottom: 1px solid grey;
  justify-content: space-between;

  /* position: fixed; */
  /* top: 0px; */
  align-items: center;
  width: 448px;
  z-index: 20;
}

.options h6 {
  color: white;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown h6 {
  margin-right: 1rem;
  color: white;
}

.dropdown select {
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: none;
}
