.searchContainer {
  width: 100%;

  position: relative;
  background-color: #102b3c;
  padding: 1rem;
}

.inputContainer {
  display: flex;
  border-bottom: solid #81ffb5 1px;
  margin: 5px;
  gap: 1rem;
  align-items: center;
}

.input {
  max-width: 450px;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  overflow: none;
  width: 100%;

  color: #81ffb5;
}

.input:focus {
  border: none;
}

.input::placeholder {
  color: #81ffb5;
}

.magni {
  color: #81ffb5 !important;
  border: none;
  font-weight: 300;
  font-size: 2rem;
  cursor: pointer;
}
