.main {
  position: fixed;
  left: 0;
  top: 6rem;
  /* bottom: 0; */
  width: 450px;
  /* border: 3px dashed red; */
  background-color: rgb(240, 240, 240);
  /* filter: blur(3px); */
  overflow: scroll;
  /* height: 700px; */
  /* height: 90%; */
  /* transition: all ease 0.3s; */
  /* border: 1px solid grey; */
  z-index: 43300;
  border-radius: 0 0 15px 0;
  /* padding-top: 45px; */
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  backdrop-filter: blur(3px);
  z-index: 150;
}

.hidden {
  display: none;
}

.spinnerContainer {
  padding: 2rem;
}
