.recipe {
  display: flex;
  width: 100%;
  /* margin-bottom: 5px; */
}

.recipe button {
  background-color: rgb(255, 72, 72);
  width: 2rem;
  /* width: 17rem;
    height: 7rem; */
  padding: 1rem;
  border-radius: 7px;
  margin: auto 1rem;
}

.recipe input {
  /* border-radius: 0 5px 5px 0; */
  /* margin-right: 5px; */
}

.close {
  color: rgb(190, 190, 190);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  cursor: pointer;
}

.close:hover {
  color: rgb(255, 105, 105);
}

.step {
  width: 4rem;
  /* background-color: azure; */
  border: 1px solid rgb(190, 190, 190);
  color: #233747;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  /* border-radius: 5px 0 0 5px;
  border-right: 1px grey solid; */
}
