.picsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  max-width: 80vw;
}

.pic {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.pic:hover {
  opacity: 0.8;
}

.buttonContainer {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.checkIcon {
  position: absolute;
  top: -5px;
  right: 0;
  color: rgb(88, 255, 46);
  font-size: 3rem;
}
