.main {
  padding: 0 2rem;
  background-color: #004159;
}

.main h3 {
  /* margin: 0 1rem; */
  padding: 1rem 0;
  font-weight: 500;
  color: white;
  border-bottom: 3px solid #81ffb5;
}
.main p {
  padding: 1rem 0;
  margin-right: 1rem;
  display: inline-block;
  color: white;
}
