.recipe {
  display: flex;
  width: 100%;
}

.recipe button {
  background-color: rgb(255, 72, 72);
  width: 2rem;
  /* width: 17rem;
    height: 7rem; */
  padding: 1rem;
  border-radius: 7px;
  margin: auto 1rem;
}

.recipe input {
  border-radius: 0 5px 5px 0;
}

.step {
  width: 6rem;
  background-color: azure;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  border-right: 1px grey solid;
}
