.method {
  display: flex;
  width: 100%;
}

.method button {
  background-color: rgb(255, 72, 72);
  width: 2rem;
  padding: 1rem;
  border-radius: 7px;
  margin: auto 1rem;
}

.close {
  color: rgb(190, 190, 190);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  cursor: pointer;
}

.close:hover {
  color: rgb(255, 105, 105);
}

.step {
  width: 4rem;
  border: 1px solid rgb(190, 190, 190);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.index {
  font-weight: 500;
}
