.main {
  /* width: 95%;
    max-width: 750px; */
  padding: 2rem;
  background-color: #ffffff;
  /* margin: 3rem; */
  /* overflow: hidden; */
  position: relative;
  /* border-radius: 15px; */
  box-shadow: 3px 3px 10px rgb(0, 0, 0), -3px -3px 10px rgb(0, 0, 0);
  user-select: none;
}
