.main {
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.homeBox {
  display: flex;
  /* height: 60rem; */
  /* flex-direction: row-reverse; */
  width: 1100px;
  margin: auto;
  gap: 15rem;
  align-items: flex-start;
  padding: 17rem 0;
  /* width: 100%; */
}

.secondary {
  background-color: #ffffff;
  background-image: none;
}

.secondary .homeBox {
  flex-direction: row-reverse;
}

.textBox {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 3rem; */
  align-items: flex-start;
  color: #ffffff;
}

.textBox::after {
  content: '';
  border-bottom: 2px solid black;
  width: 20%;
  height: 1px;
}

.textBox h3,
.textBox h2 {
  color: #233747;
}

.textBox h2 {
  font-size: 3rem;
}

.imageBox {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80rem; */
  width: 60%;
  position: relative;
}

.imageBox img {
  /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
  /* transform: translateY(50px); */
  /* padding: 1rem; */
  position: absolute;
  top: 0;
  object-fit: contain;
  transform: scale(1.4) translate(80px, 89px);

  /* background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 10px rgb(216, 216, 216); */
}
