.main {
  width: 100%;
  background-color: #0f2c3d;
  position: relative;
  align-items: center;
  display: flex;
  min-height: 600px;
}

.homeBox {
  display: flex;

  align-items: flex-start;
  max-width: 1100px;
  width: 100%;
  margin: auto;
  gap: 15rem;

  padding: 2rem;
}

.textBox {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 3rem; */
  align-items: flex-start;
  color: #ffffff;
  flex: 1;
  width: 100%;
}

.textBox::after {
  content: '';
  border-bottom: 2px solid white;
  width: 20%;
  height: 1px;
}

.textBox h3,
.textBox h2 {
  color: white;
}

.textBox h2 {
  font-size: 3rem;
}

.imageBox {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80rem; */
  /* width: 60%'' */
  position: relative;
}

.imageBox img {
  /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)); */
  /* transform: translateY(50px); */
  /* padding: 1rem; */
  position: absolute;
  top: 0;
  object-fit: contain;
  transform: scale(1.4) translate(80px, 89px);

  /* background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 10px rgb(216, 216, 216); */
}
.main * {
  color: white;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .main {
  }
  .homeBox {
    display: flex;

    /* flex-direction: row-reverse; */
    flex-direction: column;
    width: 1100px;
    margin: auto;
    gap: 5rem;
    align-items: center;

    padding: 2rem;
    text-align: center;

    /* width: 100%; */
  }

  .textBox {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
}
