.container {
  /* width: 70%; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #90e0ef;
  text-align: left;
  width: 30rem;
}

.image_container {
  /* width: 45rem; */
  margin: auto;
  border-radius: 7px;
  overflow: hidden;
  height: 25rem;
  overflow: hidden;
}

.image_container img {
  width: 100%;
}

.iconContainer {
  display: flex;
  margin: 1rem 0;
}

.method {
  margin-top: 1rem;
}
