.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem 2rem;
  background-color: #0f2c3d;
  align-items: center;
  color: aliceblue;
  position: sticky;
  justify-content: center;
  border-top: 2px solid #ddec52;
}

.title,
.subtitle,
.name {
  margin: 0.4rem;
}

.title {
  font-size: 2rem;
  color: #ddec52;
}

.name {
  text-transform: uppercase;
  color: aquamarine;
}

.icons {
  font-size: 3rem;
  color: aqua;
}

.icons * {
  margin: 0 1rem;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .homeBox {
    flex-direction: column;
    height: auto;
    min-width: auto;
    text-align: center;
    padding: 4rem 2rem;
  }
  .textBox {
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
}
