.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5rem 2rem;
  background-color: #233747;
  align-items: center;
  color: aliceblue;
  position: sticky;
  justify-content: center;
}

.title,
.subtitle,
.name {
  margin: 0.4rem;
}

.name {
  text-transform: uppercase;
}

.icons {
  font-size: 3rem;
}

.icons * {
  margin: 0 1rem;
}
