.nav {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
  background-color: #0f2c3d;
  align-items: center;
  color: aliceblue;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.navContainer {
  position: fixed;
  width: 100%;
  background-color: #0f2c3d;
  z-index: 100;
  border-bottom: 3px solid #ddec52;
}

.nav button {
  font-size: 1.6rem;
  font-weight: 300;
}

.yellow {
  color: #ddec52;
  font-weight: 500;
}

.green {
  color: #81ffb5;
}

.navLeft {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
}

.navRight {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: right;
}

.navButton {
  font-size: 2.8rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.slash {
  margin-top: -5px;
  font-size: 3rem;
}

.magni {
  border: none;
  font-weight: 300;
  font-size: 2rem;

  cursor: pointer;
}
