.searchContainer {
  width: 100%;
  max-width: 300px;
}

.input {
  max-width: 450px;
  padding: 0.5rem 1rem 0.5rem 4rem;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  overflow: none;
  width: 100%;
  border-bottom: solid #81ffb5 1px;
  color: #81ffb5;
}

.input:focus {
  border: none;
  border-bottom: solid #81ffb5 1px;
}

.input::placeholder {
  color: #81ffb5;
}

.magni {
  /* background-color: #f2e9e4; */
  color: #81ffb5;
  border: none;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 1.1rem 0.5rem;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
