.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 650px;
  flex-direction: column;
}

.form {
  width: 95%;
  max-width: 750px;
  margin: 3rem;
  position: relative;
}

.labelColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.labelRow {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.addBtn {
  padding: 0.5rem 0;
  cursor: pointer;
}

.btnContainer {
  display: flex;
}

.btnContainer button {
  margin-top: 1rem;
  flex: 1;
}

.btnContainer button:first-child {
  margin-right: 10px;
}

.firstRow {
  display: flex;
  min-height: 100px;
}

.picture {
  flex: 2;
  background-color: powderblue;
}

.mainInfo {
  flex: 3;
  background-color: aqua;
}

.photoBox {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.photoBtns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  flex: 2;
}

.photoImage {
  background-color: rgb(228, 228, 228);
  border-radius: 1000px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: rgb(151, 151, 151);
}

.photoContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 1rem;
}

.photoButton {
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.orBreak {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
}

.orBreak span {
  padding: 0 2rem;
  text-transform: lowercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.orBreak::before,
.orBreak::after {
  content: '';
  flex: 1;
  background-color: rgb(109, 109, 109);
  height: 1px;
}

.closeIcon {
  color: red;
  position: absolute;
  font-size: 3rem;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}
