.cocktailGrid {
  display: grid;
  width: 80%;
  max-width: 1400px;
  /* height: 600px; */
  /* background-color: turquoise; */
  margin: 4rem auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 70vh 1fr;
  /* height: 700px; */
  /* overflow: scroll; */
  /* grid-template-areas:
    'title title pic pic rev rev'
    'ing method method method rev rev'; */
  grid-template-areas:
    'title title title pic pic pic'
    'ing ing method method rev rev';
}

.title,
.pic,
.ing,
.method,
.rev {
  /* height: 300px; */

  /* border: 1px dashed red; */
}

.title {
  grid-area: title;
  /* width: 150%; */
}

.pic {
  grid-area: pic;
  background-color: white;
  /* max-height: 50vh; */
  /* width: 150%; */
}

.ing {
  grid-area: ing;
  background-color: #f1f1f1;
}

.method {
  grid-area: method;
  background-color: #f8f8f8;
}

.rev {
  grid-area: rev;
  background-color: #ebebeb;
}

.image {
  /* border-radius: 50px; */
  /* height: 90%; */
  /* width: 70%; */
  margin: auto;
  /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
  /* clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%); */
}
