.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.unavailable {
  background-color: rgb(207, 207, 207);
  transition: all ease 0.5s;
}

.inputContainer {
  position: relative;
}

.iconContainer {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  font-size: 2.5rem;
  color: white;
  color: #ddec52;
}
.error {
  font-size: 2.5rem;
  color: white;
  color: rgb(250, 86, 135);
}

.input {
  font-weight: 400;
  font-size: 1.8rem;
  background-color: transparent;
  color: white;
  border-radius: 0px;
  border: 1px solid rgb(190, 190, 190);
}

.input:focus {
  border: solid #ddec52 1px;
}

.input::placeholder {
  font-weight: 300;
}

.label {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ddec52;
}
.invalid {
  border: red 1px solid;
}
