.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.unavailable {
  background-color: rgb(207, 207, 207);
  transition: all ease 0.5s;
}

.label {
  font-size: 1.8rem;
  font-weight: 500;
  color: #ddec52;
}
