.main {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  padding: 1rem 2rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.397);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 2rem;
}

.title {
  color: rgb(62, 62, 62);
  font-weight: 500;
}
.success {
  background-color: #81ffb5;
}
.fail {
  background-color: #ff8192;
}
.info {
  background-color: white;
}

@media screen and (max-width: 480px) {
  .main {
    min-width: 0;
    width: 100%;
  }
}
