.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  color: white;
  padding: 2rem;
}

.stars {
  align-self: center;
}
.btnContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.btn {
  flex: 1;
}
.title {
  justify-self: center;
  width: 100%;
  color: white;
}
.text {
  color: white;
}
