.main {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: #004159;
}

.main h3 {
  /* margin: 0 1rem; */
  padding: 1rem 0;
  font-weight: 500;
  color: white;
  border-bottom: 3px solid #34dddf;
}

.main p:last-child {
  border-bottom: 0px solid #233747;
}

.main p {
  padding: 1rem 0;
  margin-right: 1rem;
  display: inline-block;
  border-bottom: 1px solid #233747;
  width: 100%;
  color: white;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
