.main {
  margin: auto;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* background-color: red */
}

.title {
  color: #0963ac;
  text-shadow: 1px 1px 0px black;
  border-bottom: 1px solid grey;
  margin-bottom: 3rem;
  margin-top: -1rem;
}

.subTitle {
  color: rgb(204, 204, 204);
}
