.cocktailItem {
  display: flex;
  background-color: #90e0ef;
  width: 80%;

  font-size: 2.5rem;
  transition: all ease 0.3s;
}

.cocktailItem:hover {
  /* transform: translateY(-4px); */
  transform: scale(1.02);
}

.imageContainer {
  width: 20rem;
  min-width: 20rem;
  height: 20rem;
  margin: 2px;
  border-radius: 7px;
  overflow: hidden;
}

.textContainer {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.iconContainer {
  display: flex;
  margin: 1rem 0;
}
