.main {
  padding: 0 2rem;
}

.main h3 {
  /* margin: 0 1rem; */
  padding: 1rem 0;

  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.main p {
  padding: 0.5rem 0;
  text-align: center;
  margin-right: 1rem;
  display: inline-block;
}
