.btn {
  /* margin: 1rem 0; */
  /* margin-bottom: 1rem; */
  /* border-radius: 4px; */
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
  padding: 1.4rem 2.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  border: none;
  /* box-shadow: 2px 3px 7px rgba(17, 17, 17, 0.283); */
  cursor: pointer;
  transition: all ease 0.4s;
  border: 1px solid black;
}

.btn:hover {
  background-color: black;
  color: white;
}

.alt {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
/*
.btn:active {
  transform: translateY(-1px);
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.262);
} */

.disable {
  color: grey;
  border: grey;
  background-color: rgb(155, 155, 155);
  cursor: not-allowed;
}

.disable:hover {
  color: grey;
  border: grey;
  background-color: rgb(155, 155, 155);
  cursor: not-allowed;
}
