.btn {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
  border: none;
  /* box-shadow: 2px 3px 7px rgba(17, 17, 17, 0.283); */
  cursor: pointer;
  transition: all ease 0.4s;
}

.btn:hover {
  background-color: #0f3553;
  color: white;
}

.main {
  background-color: #0f3553;
  border: 1px solid #0f3553;
}

.alt {
  background-color: white;
  color: #233747;
  border: 1px solid #233747;
}

.disable {
  color: grey;
  border: grey;
  background-color: rgb(155, 155, 155);
  cursor: not-allowed;
}

.disable:hover {
  color: grey;
  border: grey;
  background-color: rgb(155, 155, 155);
  cursor: not-allowed;
}

.large {
  padding: 1rem 3rem;
  font-size: 2rem;
  border-radius: 1000px;
  font-weight: 500;
  text-shadow: none;
  background-color: #0f3553;
  /* color: #ffda07; */
  /* background-color: #ffda07; */
}
