.main {
  background-color: #004159;
  color: white;
  width: 100%;
  resize: none;
  padding: 1rem;
  font-weight: 400;
  font-size: 1.8rem;
  border-radius: 0;
  border: none;
  outline: none;
  min-height: 16rem;
}
