.input {
  padding: 0.75rem 1rem;
  background-color: red;
  border: solid rgb(190, 190, 190) 1px;
  outline: none;
}

.input:focus {
  border: solid black 1px;
}

.un {
  background-color: rgb(202, 202, 202);
  transition: all ease 0.5s;
}
.option {
  padding: 0.75rem 1rem;
  font-size: 5rem;
  border: solid rgb(190, 190, 190) 1px;
  outline: none;
}
