.input {
  padding: 0.75rem 1rem;
  outline: none;
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #0f2c3d;
  color: white;
  border-radius: 0px;
  border: 1px solid rgb(190, 190, 190);
}

.input:focus {
  border: solid #ddec52 1px;
}

.input::placeholder {
  font-weight: 300;
}

.un {
  background-color: rgb(202, 202, 202);
  transition: all ease 0.5s;
}

.invalid {
  border: red 1px solid !important;
}
