.typeIcon {
  padding: 0.5rem 1.3rem;
  border-radius: 7px;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: white;
  /* font-weight: bold; */
}

.glass {
  background-color: #0096c7;
}

.cocktail {
  background-color: #0077b6;
}
