.main {
  width: 100%;
  margin: 3rem 0;
  border-radius: 10px;

  position: relative;
}

.title {
  width: 100%;
  background-color: green;
  position: absolute;
}

.firstGroup {
  display: flex;
  gap: 1rem;
}

.firstGroup_left {
  flex: 1;
}
.firstGroup_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondGroup {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
}
.imageContainer {
  background-color: #0f2c3d;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 1000px;
  border: 1px solid rgb(168, 168, 168);
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  overflow: hidden;
}
.imageContainer svg {
  margin-left: 1rem;
  margin-top: -2rem;
}
.imageButton {
  position: absolute;
  bottom: 40px;
  margin: auto;
}
.addBtn {
  padding: 0.5rem 0;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

.btnContainer button {
  flex: 1;
}

.closeIcon {
  color: rgb(255, 105, 105);
  position: absolute;
  font-size: 3rem;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 30px;
  left: 45%;
  transform: translateX(-50%);
  color: rgb(255, 105, 105);
  color: rgb(121, 121, 121);
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
  .firstGroup {
    flex-direction: column-reverse;
  }
}
