.main {
  background-color: #0f2c3d;
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 1000px;
  border: 1px solid rgb(168, 168, 168);
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  overflow: hidden;
}
.main svg {
  margin-left: 1rem;
  margin-top: -2rem;
}
.imageButton {
  position: absolute;
  bottom: 40px;
  margin: auto;
  /* background-color: rgb(255, 255, 255); */
  /* width: 80%; */
}
.delete {
  position: absolute;
  top: 30px;
  left: 45%;
  transform: translateX(-50%);
  color: rgb(255, 105, 105);
  color: rgb(121, 121, 121);
  font-size: 3rem;
}
